In [2]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

In [4]:
#df = pd.read_excel('data.xlsx', 'Sheet1', index_col=None, na_values=[''])
df = pd.read_csv('data.csv')

C:\Users\sbassam\AppData\Local\Continuum\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (15,16,17,18,19,60,61,62,75,76,77,78,117,118,119,120) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,xml_document_id,ein,orgname,orgnamecrp,ultorg,document_link,dba,subsection_code,period_begin,period_end,...,schc,schCtot,dupe,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124
0,1935533,953618401,Union Employees Vacation Savings and Supplemen...,Union Employees Vacation Savings & Supp Dues T...,NaN,NaN,NaN,5,5/1/2014 0:00,4/30/2015 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1964797,453998754,UNITED BROTHERHOOD OF CARPENTERS & JOINERS OF ...,United Brotherhood of Carpenters & Joiners of ...,NaN,NaN,NaN,5,1/1/2014 0:00,12/31/2014 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1965152,480287347,KANSAS MUNICIPAL UTILITIES INC,Kansas municipal utilities,NaN,NaN,NaN,4,1/1/2014 0:00,12/31/2014 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1932456,940577270,INTL BROTHERHOOD OF ELECT WORKERS 100,IBEW Local 100,Intl Brotherhood of Electrical Workers,NaN,NaN,5,1/1/2014 0:00,12/31/2014 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1932516,941265639,MARIN VISITORS NETWORK,Marin visitors network,NaN,NaN,NaN,6,1/1/2014 0:00,12/31/2014 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.describe()

,xml_document_id,ein,total_comp_related_org,total_comp_other,total_persons_100000,QUALIFIED_RECEIVABLE_EOY,DISQUALIFIED_RECEIVABLE_BOY,DISQUALIFIED_RECEIVABLE_EOY,LOANS_RECEIVABLE_BOY,LOANS_RECEIVABLE_EOY,...,INTANG_ASSETS_EOY,OTHER_ASSETS_BOY,OTHER_ASSETS_EOY,ASSETS_TOTAL_BOY,ASSETS_TOTAL_EOY,NET_ASSET_CHANGE,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124
count,9.263900e+04,9.263900e+04,6.429100e+04,7.226400e+04,7.592500e+04,2.379200e+04,1.103000e+04,1.476300e+04,1.107400e+04,1.843500e+04,...,1.635400e+04,3.337100e+04,4.243100e+04,7.209200e+04,8.139300e+04,5.024500e+04,51.000000,14.0,7.0,4.0
mean,1.165503e+06,4.942107e+08,6.979547e+05,3.203196e+05,1.059979e+05,2.104606e+05,2.616639e+05,6.884290e+04,1.018576e+07,7.305789e+06,...,4.302886e+05,1.750898e+06,2.014259e+06,1.264727e+07,1.368991e+07,5.937409e+06,157.764706,0.0,0.0,0.0
std,9.074863e+05,2.693868e+08,9.417587e+06,2.966145e+06,8.693828e+05,4.521374e+06,7.147058e+06,2.953452e+06,4.071604e+08,3.495274e+08,...,1.636642e+07,4.788172e+07,6.923248e+07,2.259215e+08,2.468091e+08,1.607271e+08,546.171387,0.0,0.0,0.0
min,4.300000e+01,1.002154e+07,-2.734540e+06,-4.299040e+05,-5.583000e+04,-2.800800e+05,-2.800800e+05,-5.700000e+01,-1.304130e+05,-8.159800e+04,...,-1.712230e+05,-9.898286e+06,-9.898286e+06,-2.323673e+06,-2.857217e+06,-4.254592e+08,0.000000,0.0,0.0,0.0
25%,6.219810e+05,2.621365e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,8.195000e+02,2.000000e+02,2.448595e+05,3.816690e+05,0.000000e+00,0.000000,0.0,0.0,0.0
50%,1.112822e+06,4.544328e+08,0.000000e+00,2.316700e+04,1.000000e+00,0.000000e+00,5.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.255400e+04,9.597000e+03,9.766750e+05,1.182252e+06,2.038760e+05,0.000000,0.0,0.0,0.0
75%,1.628670e+06,7.305229e+08,3.039860e+05,1.643425e+05,6.000000e+00,6.091325e+04,6.093925e+04,0.000000e+00,1.070072e+05,1.500000e+04,...,0.000000e+00,1.487835e+05,1.246645e+05,3.167762e+06,3.537458e+06,1.504072e+06,0.000000,0.0,0.0,0.0
max,9.999999e+06,9.960206e+08,1.005698e+09,5.413020e+08,6.369044e+07,5.079150e+08,5.079150e+08,3.541840e+08,2.021667e+10,2.038636e+10,...,1.300273e+09,8.027525e+09,7.970343e+09,2.201516e+10,2.217907e+10,2.012872e+10,2013.000000,0.0,0.0,0.0

In [7]:
df['expenses_total'] = pd.to_numeric(df['expenses_total'], errors='coerce')

In [ ]:
df["expenses_total"].describe()
df["expenses_total"].dtype

In [1]:
plt.hist(df["expenses_total"].dropna(), bins = 100, range=[1, 12000000])
plt.show()

NameError: name 'plt' is not defined

In [44]:
temp = df['expenses_total'].convert_objects(convert_numeric = True)

C:\Users\sbassam\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [66]:
plt.hist(df['tot_rev_current'])

C:\Users\sbassam\AppData\Local\Continuum\Anaconda2\lib\site-packages\numpy\core\_methods.py:29: RuntimeWarning: tp_compare didn't return -1 or -2 for exception
  return umr_minimum(a, axis, None, out, keepdims)

TypeError: can't compare datetime.datetime to int

In [71]:
df2 = df['tot_rev_current'].astype(float)

ValueError: could not convert string to float: Y

In [69]:
df.dtypes

xml_document_id                       int64
ein                                   int64
orgname                              object
orgnamecrp                           object
ultorg                               object
document_link                        object
dba                                  object
subsection_code                      object
period_begin                         object
period_end                           object
change_addr_cbx                      object
change_name_cbx                      object
init_ret_cbx                         object
final_ret_cbx                        object
app_pend_cbx                         object
tot_volunteers                       object
all_year_employees                   object
tot_rev_current                      object
grants_orgs_us                       object
expenses_total                       object
phone                                object
street                               object
suite                                object
city                                 object
state                                object
country                              object
zip                                  object
principal_name                       object
firstname                            object
middlename                           object
                                     ...
FUNDRAISING_PHONE_CBX                object
FUNDRAISING_PERSON_CBX               object
FUNDRAISING_NON_GOV_GRANTS_CBX       object
FUNDRAISING_GOV_GRANTS_CBX           object
FUNDRAISING_SPECIAL_EVENTS_CBX       object
FUNDRAISING_PROF_CBX                 object
FUNDRAISING_TOTAL_GROSS_RECEIPTS     object
TOTAL_PAID_TO_FUNDRAISER             object
FUNDRAISING_TOTAL_PAID_ORG           object
source                               object
mark                                 object
orgid                                object
cmteid                               object
filingid                             object
realcode                             object
codesource                           object
displayyear                          object
expoutcands                          object
recipfectot                          object
recipfecattrib                       object
schc                                 object
schCtot                              object
dupe                                 object
Unnamed: 118                         object
Unnamed: 119                         object
Unnamed: 120                         object
Unnamed: 121                        float64
Unnamed: 122                        float64
Unnamed: 123                        float64
Unnamed: 124                        float64
dtype: object

In [55]:
pd.to_numeric(df['expenses_total'])

ValueError: Unable to parse string

ValueError: cannot convert float NaN to integer